<section>
  <div class="icon-wrapper">
    <%= svg_image("icon-refresh") %>
  </div>
  <div class="bottom-text">

    <%= if @invoice.reason == "verifying" do %>
      Transaction received! Verifying 0-conf security...
    <% else %>
      <p>Transaction received! Waiting for <b><%= @invoice.confirmations_due %></b> additional confirmations...</p>
    <% end %>
  </div>
</section>
